.action-button {
    cursor: pointer;
  font-size: 24px;
}

aside.sidebar {
    background-color: #9E9E9E;
    color: #fff;
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100vh;
    overflow: scroll;
    padding: 15px 15px 0 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.code {
    background-color: #8BC34A;
    cursor: pointer;
    height: 50px;
    padding: 22px 10px;
}

.color-bar {
    background-color: #8BC34A;
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 1px;
    z-index: 1;
}

#demo {
    background-color: #000;
    position: relative;
    height: 100px;
    width: 100px;
}

.embed-code {
    background-color: #000;
    color: #fff;
    height: 200px;
    overflow: scroll;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 20px;
    width: 300px;
}

header.editor-header {
    background-color: #616161;
    color: #fff;
    height: 50px;
}

header.site-header {
    background-color: #555;
    color: #fff;
    height: 100px;
}

.header-padding {
    padding-top: 10px;
}

.keyframe-bar {
    //background-color: red;
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 1px;
    z-index: 1;
}

.keyframe-diamond {
    color: #FAFAFA;
    font-size: 16px;
    margin-left: -4px;
    margin-top: 15px;
}

.logo {
    font-size: 24px;
    padding-top: 5px;
}

.main {
    float: left;
    grid-column: 2;
    grid-row: 1;
}

.relative {
    position: relative;
}

section.intro {
    background-color: #333;
}

.timeline {
    background-color: #9E9E9E;
    bottom: 0;
    grid-column: 2;
    grid-row: 2;
    height: 200px;
    left: 300px;
    overflow: scroll;
    position: absolute;
    width: 100%;
}

.timeline-frame-bar {
    //background-color: #dcdcdc;
    background-color: #FAFAFA;
    height: 100%;
    position: absolute;
    width: 1px;
}

.timeline-grey-bar {
    //background-color: #666;
    background-color: #FAFAFA;
    height: 100%;
    position: absolute;
    width: 1px;
}

.timeline-inner {
    height: 100%;
    left: 15px;
    position: relative;
    width: 100%;
}

.timeline-time {
    color: #FAFAFA;
    padding-left: 5px;
    position: absolute;
}

ul.site-nav li a {
    color: #fff;
}

.wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 100%;
}